In [1]:
import pandas as pd
from k_means import KMeans

# import dataset
training_data = pd.read_csv('data.csv')
y_labels = pd.read_csv('label.csv')


training_data.head()

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
# # Remove features without unique values
unique_count = training_data.nunique() # Finds number of unique values per feature
features_to_drop = unique_count[unique_count == 1].index 
training_data = training_data.drop(features_to_drop, axis=1) # Cleaned training data

training_data.columns

Index(['0.33', '0.34', '0.35', '0.36', '0.37', '0.38', '0.39', '0.40', '0.41',
       '0.42',
       ...
       '0.652', '0.653', '0.654', '0.655', '0.656', '0.657', '0.658', '0.659',
       '0.660', '0.661'],
      dtype='object', length=668)

In [42]:
# Calculate eucledean distance
eucledean_kmeans = KMeans(k_count=10, similarity='eucledean')
eucledean_kmeans.fit(training_data)
eucledean_kmeans.sse

1563.249689496686

In [44]:
total = 0
eucledean_kmeans.dataset['y_labels'] = y_labels
for i in range(eucledean_kmeans.k_count):
  total += eucledean_kmeans.dataset.y_labels[eucledean_kmeans.dataset['clusters'] == i].value_counts().max()

total_error = total / eucledean_kmeans.dataset.shape[0]
print('accuracy = ', round(total_error * 100, 2),'%')

accuracy =  60.89 %

In [50]:
# Calculate cosine distance
cosine_kmeans = KMeans(k_count=10, similarity='cosine')
cosine_kmeans.fit(training_data)
cosine_kmeans.sse

1565.6567262456404

In [49]:
total = 0
cosine_kmeans.dataset['y_labels'] = y_labels
for j in range(cosine_kmeans.k_count):
  total += cosine_kmeans.dataset.y_labels[cosine_kmeans.dataset['clusters'] == j].value_counts().max()

total_error = total / cosine_kmeans.dataset.shape[0]
print('accuracy = ', round(total_error * 100, 2),'%')

accuracy =  59.37 %

In [36]:
# Calculate jaccard distance
jaccard_kmeans = KMeans(k_count=10, similarity='jaccard')
jaccard_kmeans.fit(training_data)
jaccard_kmeans.sse

1567.113154820711

In [37]:
total = 0
jaccard_kmeans.dataset['y_labels'] = y_labels
for j in range(jaccard_kmeans.k_count):
  total += jaccard_kmeans.dataset.y_labels[jaccard_kmeans.dataset['clusters'] == j].value_counts().max()

total_error = total / jaccard_kmeans.dataset.shape[0]
print('accuracy = ', round(total_error * 100, 2),'%')

accuracy =  64.35 %

In [51]:
print('Eucledean: ', eucledean_kmeans.iterations, '\nCosine: ', cosine_kmeans.iterations, '\nJaccard: ', jaccard_kmeans.iterations)

Eucledean:  35
Cosine:  24
Jaccard:  31