In [1]:
import pandas as pd

training_data = pd.read_csv('task5.csv')

training_data.head()

   Early  Finished hmk  Senior  Likes Coffee  Liked The Last Jedi  A
0      1             1       0             0                    1  1
1      1             1       1             0                    1  1
2      0             0       1             0                    0  0
3      0             1       1             0                    1  0
4      0             1       1             0                    0  1

In [2]:
# All the features are valid to use, no preprocessing is required.
# From left to right the Finished hmk feature gives the best first split.
training_data[['Finished hmk', 'A']].groupby('Finished hmk').sum()

              A
Finished hmk
0             3
1             5

In [3]:
# Create the X and y value for features and class label.
X = training_data.drop(columns='A')
y = training_data['A']

X.head()

   Early  Finished hmk  Senior  Likes Coffee  Liked The Last Jedi
0      1             1       0             0                    1
1      1             1       1             0                    1
2      0             0       1             0                    0
3      0             1       1             0                    1
4      0             1       1             0                    0

In [4]:
from sklearn import tree

DT1 = tree.DecisionTreeClassifier(criterion="entropy", max_depth=1)
DT2 = tree.DecisionTreeClassifier(criterion="entropy", max_depth=2)

# Generating the two models
DT1.fit(X,y)
DT2.fit(X,y)

DecisionTreeClassifier(criterion='entropy', max_depth=2)

In [5]:
import graphviz

# Using the Graphviz library, I generated the decision tree graph for case 1 and case 2.
dot_data = tree.export_graphviz(DT1, out_file=None) 
graph = graphviz.Source(dot_data) 
graph.render("DT1")
dot_data = tree.export_graphviz(DT2, out_file=None) 
graph = graphviz.Source(dot_data) 
graph.render("DT2")

'DT2.pdf'

In [6]:
from sklearn.model_selection import KFold, cross_val_score

# Using five fold cross validation, I confirmed that the second case has better accuracy
five_fold = KFold(n_splits=5, random_state=1, shuffle=True)
accuracy_group = cross_val_score(DT1, X, y, scoring='accuracy', cv=five_fold, n_jobs=-1)

# Accuracy calculation
sum(accuracy_group) / len(accuracy_group)

0.26666666666666666

In [8]:
five_fold = KFold(n_splits=5, random_state=1, shuffle=True)
accuracy_group = cross_val_score(DT2, X, y, scoring='accuracy', cv=five_fold, n_jobs=-1)
sum(accuracy_group) / len(accuracy_group)

0.6333333333333333